//
@use 'bootstrap';

header{
    filter: drop-shadow(0 0 10px white);
}

footer{
    filter: drop-shadow(0 0 10px white);
}

header,
footer{
    background-color: darkgray;
}


#ms_movies{
    .my_card{
        margin: 15px;
        padding: 20px;
        border-radius: 18px;
        background-color: darkgray;
        filter: drop-shadow(0 0 10px white);


            .my_pm{
                padding: 5px;
                margin: 5px;




            }

    }
}
